:root {
  margin: 0;
  padding: 0;
}
body {
  background-color: #fffaea;
}
#header {
  display: flex;
}
#content {
  display: flex;
  flex-direction: column;
}

.logo {
  height: auto;
  width: 400px;
  align-self: flex-start;
}

ul {
  margin: 0;
  padding: 0;
  align-self: center;
}

body {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}
a {
  text-decoration: none;
  color: black;
}
#nav {
  display: flex;
  list-style-type: none;
  justify-content: space-evenly;
  align-items: center;
  flex-grow: 1;
  /* gap: 10px; */
}

button {
  margin: 0;
  padding: 0;
  height: 176px;
  width: 230px;
  font-size: 40px;
  border: none;
  background-color: #fffaea;
}

button:hover {
  cursor: grab;
  background-color: white;
}

.about {
  font-size: 50px;
  align-self: center;
}

.menu {
  display: grid;
  align-self: center;
  grid-template-columns: repeat(3, 266px);
  grid-template-rows: repeat(3, 300px);
  justify-items: center;
  align-items: center;
  grid-auto-flow: row;
  height: 900px;
  width: 800px;
  border-radius: 10px;
  border-color: black;
  border-style: solid;
}

.item {
  height: 250px;
  width: 250px;
  border: solid black;
  border-radius: 10px;
}

.pizza {
  background-color: pink;
}
